
.app {
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: url('../public/white-leaves.svg');
    background-size: cover;
    background-repeat: repeat;
    overflow: scroll;

  }
  

