.green-button{
    height: 5%;
    width: 10%;
    background-color: #73F28F;
    transition: 0.5s;
    outline-color: #73F28F;
    border: #73F28F;
}

.nav-link{
    color: #293C5B;
 }

.cart-icon{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -5px;
    right: 5px;
    height: 20px;
    width: 20px;
    background-color: #73a6f2;
    color: white;
}